{% load i18n %}

{% block subject %}
{% blocktrans %}Сброс пароля на {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Вы получили это письмо, потому что запросили сброс пароля для вашего аккаунта на {{ site_name }}.{% endblocktrans %}

{% trans "Пожалуйста, перейдите по следующей ссылке и выберите новый пароль:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}

{% trans "Ваше имя пользователя:" %} {{ user.get_username }}

{% trans "Спасибо за использование нашего сайта!" %}

{% blocktrans %}Команда {{ site_name }}{% endblocktrans %}
{% endblock text_body %}